<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex">
      <h5 class="bg-light col-3 text-center my-5 text-nowrap"><%= @content.title %>カレンダー</h5>
    </div>
  </div>
  <div class="row text-center">
    <!--simple calendarを貼り付けています-->
    <%= month_calendar events: @events do |date,events| %>
      <div>
        <%= date.day %>
        <span class="ms-auto">
          <%= link_to new_content_event_path(default_date: date), class: "btn btn-sm btn-outline-primary fs-10" do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </span>
      </div>
      <% events.each do |event| %>
        <div>
          <%= link_to content_event_path(@content, event) do %>
            <%= event.title %>
            <%= event.start_time.strftime('%H:%M') %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>