<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex flex-row">
      <h5 class="bg-light col-3 text-center my-5 text-nowrap"><%= @content.title %>カレンダー</h5>
      <div class="offset-2 col-7 d-flex align-items-center">
        <%= render "public/shared/event_search" %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <!--simple calendarを貼り付けています-->
    <%= month_calendar events: @events do |date,events| %>
      <div>
        <%= date.day %>
        <span class="ms-auto">
          <%= link_to new_content_event_path(default_date: date), class: "btn btn-sm btn-outline-primary fs-10" do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </span>
      </div>
      <% events.each do |event| %>
        <div class="event-button d-flex flex-row">
          <%= link_to content_event_path(@content, event), class: "btn btn-sm btn-outline-dark link-button","data-event-id" => event.id do %>
            <%= event.title %>
          <% end %>
          <div>
            <button class="btn btn-sm btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColorChangeForm" aria-expanded="false" aria-controls="collapseColorChangeForm">
              カラー変更
            </button>
            <div class="color-change-form collapse" id="collapseColorChangeForm">
              <input type="color" class="color-picker" data-event-id="<%= event.id %>">
              <button class="apply-color-btn btn btn-sm btn-outline-info" data-event-id="<%= event.id %>">適用</button>
            </div>
          </div>
        </div>
      <% end %>
      <script src="<%= asset_pack_path 'button_color.js' %>"></script>
    <% end %>
  </div>
</div>
