<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="d-inline-block bg-light col-3 my-4 text-center text-nowrap">新規会員登録</h5>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-12">
      <%= form_with url: user_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="form-group row mb-3">
          <div class="col-md-3 col-form-label">
            <%= f.label :name, "名前" %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "推し助", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-md-3 col-form-label">
            <%= f.label :email, "メールアドレス",class: "text-nowrap" %>
          </div>
          <div class="col-md-6">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-md-3 col-form-label">
            <%= f.label :profile_image, class: "text-nowrap" do %>プロフィール画像<% end %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-md-3 col-form-label">
            <%= f.label :caption, class: "text-nowrap" do %>プロフィール文<% end %>
          </div>
          <div class="col-md-6">
            <%= f.text_area :caption, autofocus: true, autocomplete: "caption", placeholder: "よろしくお願いします。", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-md-3 col-form-label text-nowrap">
            <%= f.label :password do %>パスワード<% end %>
            <% if @minimum_password_length %>
            <rem>(<%= @minimum_password_length %> 文字以上)</rem>
            <% end %>
          </div>
          <div class="col-md-6">
            <%= f.password_field :password, class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="col-md-3 col-form-label">
            <%= f.label :password_confirmation, class: "text-nowrap" do %>パスワード(確認用)<% end %>
          </div>
          <div class="col-md-6">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border border-secondary rounded" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <div class="actions col-form offset-md-3">
            <%= f.submit "新規登録", class: "col-md-4 btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="d-inline-block bg-light col-md-3 my-4 text-center text-nowrap">既に登録済みの方</h5>
      <p class="offset-md-2 col-md-6 text-nowrap">
        <%= link_to new_user_session_path, class: "text-underline-primary" do %>こちら<% end %>
      からログインしてください。
      </p>
    </div>
  </div>
</div>