<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row d-flex flex-row">
    <div class="col-md-9 mx-auto justify-content-sm-start justify-content-center">
      <h5 class="d-inline-block col-md-2 text-center my-5 text-nowrap">コンテンツ一覧<span>(全<%= @quantity %>件)</span></h5>
      <div class="row mx-auto">
        <% if @contents.present? %>
          <% @contents.each do |content| %>
            <div class="d-flex flex-column item-box mr-md-1 mr-0", style="width: 170px;">
              <%= link_to item_path(item.id) do %>
                <%= image_tag content.get_image(370, 100) %>
              <% end %>
              <%= content.name %></br>
              <%= content.to_s(:delimited) %>
            </div>
          <% end %>
        <% else %>
          <p>商品が見つかりませんでした。</p>
        <% end %>
      </div>
      <%= paginate @contents %>
    </div>
  </div>
</div>