<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="bg-light col-2 text-center my-5 text-nowrap">コンテンツ詳細</h5>
    </div>
  </div>
  <div class="row text-center mb-2">
    <div class="col-md-10 img-fluid mx-auto", style="max-width: 100%; height: auto;" >
      <%= image_tag @content.image, class: "image" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="d-flex mb-2">
        <h4 class="col-md-4"><%= @content.title %></h4>
        <div class="col-3">
          <% if user_signed_in? %>
            <% if content_followed?(current_user) %>
              <!--すでにいいね済みの場合はdestroyアクション-->
              <%= link_to content_content_followings_path(@content.id), method: :delete do %>
                <span class: "btn btn-light">フォロー解除</span>
              <% end %>
            <% else %>
              <!--まだいいねしていない場合はcreateアクション-->
              <%= link_to content_content_followings_path(@content.id), method: :post do %>
                <span class: "btn btn-primary">フォロー</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-flex mb-2">
        <p class="text-break col-md"><%= @content.caption %></p></br>
      </div>
      <div class="d-flex mb-5">
        <label class="col-md-2">公式サイトリンク</label>
        <div class="col-md-5">
          <%= link_to @content.public_link do %>
            <%= @content.public_link %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <div class="col-md-4 d-grid gap-2 d-md-block d-md-flex justify-content-md-center">
        <%= link_to "イベントカレンダー", content_events_path(@content), class: "btn btn-primary" %>
      </div>
      <div class="col-md-3 d-grid gap-2 d-md-block d-md-flex justify-content-md-center">
        <%= link_to "詳細を編集する", edit_content_path(@content), class: "btn btn-success" %>
      </div>
    <% else %>
      <div class="col-md-4 d-grid gap-2 d-md-block d-md-flex justify-content-md-center">
        <%= link_to "イベントカレンダー", content_events_path(@content), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>