<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="d-inline-block bg-light col-md-2 text-center my-4 text-nowrap">ログイン</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto justify-content-center">
      <h6 class="d-inline-block bg-light col-md-4 my-4 text-center text-nowrap">会員の方はこちらからログイン</h6>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーがあります。
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="row justify-content-center">
        <%= form_with model: @user, url: user_session_path do |f| %>
          <div class="form-group row mb-3">
            <div class="col-md-3 col-form-label ">
              <%= f.label :email, class: "text-nowrap" do %>メールアドレス<% end %>
            </div>
            <div class="col-md-6">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control border border-secondary rounded" %>
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-md-3 col-form-label text-nowrap mb-3">
              <%= f.label :password do %>パスワード<% end %>
            </div>
            <div class="col-md-6">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control border border-secondary rounded" %>
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="actions offset-3 col-form">
              <%= f.submit "ログイン", class: "col-4 btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <h6 class="d-inline-block bg-light col-md-3 my-4 text-center text-nowrap">会員登録がお済みでない方</h6>
  <div class="row">
    <p class="offset-md-2 col-md-3 text-nowrap ">
      <%= link_to new_user_registration_path, class: "text-underline-primary text-align-center" do %>こちら<% end %>
    から新規登録を行ってください。
    </p>
  </div>
</div>
