<!DOCTYPE html>
<html>
  <head>
    <title>Oshisuke</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e21597ec26.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <%= link_to "推しスケ", root_path, class: "navbar-brand col-sm-3" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto d-flex justify-content-end col-md">
              <% if end_user_signed_in? %>
                <%= render "public/shared/sign_in_header" %>
                <%= render "public/shared/content_search" %>
              <% elsif admin_signed_in? %>
                <%= render "admin/shared/sign_in_header" %>
                <%= render "admin/shared/content_search" %>
              <% else %>
                <%= render "public/shared/sign_out_header" %>
                <%= render "public/shared/content_search" %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="mt-5 vh-100" style="background-color: #e3f2fd;">
        <div class="row mx-auto ">
          <P class="mx-auto mt-2 text-center">Copyright ©2023 Masami Yamaguchi All Rights Reserved.</P>
        </div>
      </div>
    </footer>
  </body>
</html>